<!DOCTYPE html>
<html>
<head>
    <title>Add Internship</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Add Internship</h1>

    <form method="POST">

        <label>Company Name:</label><br>
        <input type="text" name="company" required><br><br>

        <label>Internship Role:</label><br>
        <input type="text" name="role" required><br><br>

        <label>Location:</label><br>
        <input type="text" name="location"><br><br>

        <label>Application Link:</label><br>
        <input type="url" name="link"><br><br>
        <label>Application Status:</label><br>

        <select name="status">
            <option value="Pending">Pending</option>
            <option value="Applied">Applied</option>
            <option value="Interview">Interview</option>
            <option value="Selected">Selected</option>
            <option value="Rejected">Rejected</option>
        </select>

        <br><br>    

        <button type="submit">Save Internship</button>

    </form>

    <br>

    <a href="/">
        <button>Back to Home</button>
    </a>

</body>
</html>