<!DOCTYPE html>
<html>
<head>
    <title>Edit Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Edit Job</h1>

    <form method="POST">

        <label>Company Name:</label><br>
        <input type="text" name="company" value="{{ job['company'] }}" required><br><br>

        <label>Job Role:</label><br>
        <input type="text" name="role" value="{{ job['role'] }}" required><br><br>

        <label>Location:</label><br>
        <input type="text" name="location" value="{{ job['location'] }}"><br><br>

        <label>Application Link:</label><br>
        <input type="url" name="link" value="{{ job['link'] }}"><br><br>

        <button type="submit">Update Job</button>

    </form>

    <br>

    <a href="/">
        <button>Back to Jobs</button>
    </a>

</body>
</html>